$primary-color: #e08a49;
$white : #ffffff;
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.overlay-to-bottom {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.overlay-to-right {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
}
.carousel-indicators {
	z-index: 1;
    li {
        width: 15px;
        height: 15px;
        border-radius: 5em;
        &.active {
            border: 1px solid $primary-color;
            background: $primary-color;
        }
    }
}


.page-template-front-page {
    .newspage-news {
        display: none;
    }
}

.page-template-news,
.post-template-default {
    .homepage-news {
        display: none;
    }
    .current-menu-item {
        a {
            color: $primary-color !important;
        }
    }
}

@media screen and (min-width: 991px) {
    .menu-toggle,
    .menu-toggle-custom {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.menu-toggle,
.menu-toggle-custom {
    position: relative;
    top: 0em;
    left: 2em;
    margin: .5em .1em;
    cursor: pointer;
    z-index: 2;
    height: 18px;
    width: 22px;
    span {
        height: 3px;
        width: 21px;
        background: $primary-color;
        position: absolute;
        border-radius: 1em;
        transition: all .3s ease;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 6px;
        }
        &:nth-child(3) {
            top: 12px;
        }
    }
    &.active {
        span {
            &:nth-child(1) {
                top: 6px;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                width: 0px;
            }
            &:nth-child(3) {
                top: 6px;
                transform: rotate(-45deg);
            }
        }
    }
}