@mixin placeholder($color){

  &:-moz-placeholder{
    color: $color;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 100;
  }
    
  &::-webkit-input-placeholder{
    color: $color;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 100;
  }

  &:-ms-input-placeholder{
    color: $color;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 100;
  }
}