.error404 {
    header {
        display: none;
    }
}

.error-404 {
    background: #000000;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    .title {
        font-size: 18px;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 100;
    }
    .error {
        h1 {
            font-size: 15rem;
            color: $primary-color;
            font-weight: 600;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        border-bottom: 3px solid $primary-color;
        transition: all .3s ease;
        &:hover{
        	color: $primary-color;
        }
    }
    .redirect-home{
    	text-transform: uppercase;
    	h3{
    		letter-spacing: 5px;
    		color: #fff;
    	}
    }
}