section {
    min-height: 750px;
    height: 100vh;
    display: block;
    overflow: hidden;
}

.row {
    flex-direction: column;
}

.main-banner {
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    .content {
        z-index: 1;
        text-align: center;
        color: #fff;
        margin-bottom: 3em;
        h1 {
            font-size: 5rem;
            font-weight: 100;
        }
        h4 {
            font-weight: 100;
            font-size: 1.5rem;
        }
    }
}

.synopsis {
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .content {
        position: relative;
        max-width: 640px;
        bottom: 3.5em;
        h1 {
            color: $primary-color;
            font-size: 3.75rem;
            font-weight: 300;
            letter-spacing: 12px;
            max-width: 386px;
            margin: 0.5em 0;
            &:before {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                background-color: $primary-color;
                margin-bottom: .5em;
            }
            @media screen and (max-width: 768px) {
                margin: 0.5em auto;
                font-size: 2.5rem;
            }
        }
        p {
            margin: 0;
            max-width: 475px;
            line-height: 30px;
            font-weight: 100;
        }
        @media screen and (max-width: 991px) {
            text-align: center;
            padding: 2em;
        }
    }
}

.cast-section,
.filmmaker {
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    .content {
        position: relative;
        max-width: 640px;
        &:before {
            display: block;
            content: '';
            position: absolute;
            width: 5px;
            height: 100%;
            left: -3em;
            background-color: $primary-color;
        }
        .title {
            color: $primary-color;
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 12px;
            max-width: 386px;
            margin: 0.5em 0;
            text-transform: uppercase;
        }
        .cast,
        .filmmakers {
            display: block;
            margin: 1.5em 0;
            p {
                margin: 0;
                font-weight: 300;
                font-size: 18px;
            }
            h6 {
                font-size: 26px;
                font-weight: 700;
                margin: 0;
            }
        }
        @media screen and (max-width: 991px) {
            margin-left: 5em;
        }
    }
}

.content-right {
    margin: 0 0 0 auto;
    @media screen and (max-width: 991px) {
        margin: 0;
    }
}

.gallery {
    min-height: 450px;
    height: auto;
    margin: 0;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        max-height: 100%;
        max-width: 100%;
        height: 50px;
        max-height: 50px;
        @media screen and (max-width: 991px) {
            width: 10px;
            height: 20px;
        }
    }
    .carousel-control-prev-icon {
        background-image: url('../images/left-angle.png');
    }
    .carousel-control-next-icon {
        background-image: url('../images/right-angle.png');
    }
    @media screen and (max-width: 991px) {
        min-height: auto;
        height: auto;
    }
    .content {
        position: absolute;
        bottom: 20%;
        left: 12.5%;
        h1 {
            color: $primary-color;
            font-size: 3.75rem;
            font-weight: 300;
            letter-spacing: 12px;
            max-width: 386px;
            margin: 0.5em 0;
            &:before {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                background-color: $primary-color;
                margin-bottom: .5em;
            }
        }
        @media screen and (max-width: 991px) {
            position: absolute;
            top: .5em;
            left: 0;
            right: 0;
            text-align: center;
            width: 55%;
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}

.news {
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: auto;
    .news-container {
        margin: auto -15px;
        @media screen and (max-width: 991px) {
            margin: 0 auto;
        }
    }
    .content {
        display: block;
        width: 100%;
        @media screen and (max-width: 991px) {
            text-align: center;
        }

        .title {
            color: $primary-color;
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 12px;
            max-width: 386px;
            margin: 0.5em 0;
            text-transform: uppercase;
        }
    }
    .row {
        flex-direction: row;
    }
    .news-col {
        margin: 15px auto;
    }
    .post-card {
        height: 280px;
        background: rgba(#000, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        position: relative;
        .post-excerpt {
            position: relative;
            p {
                font-size: 18px;
                font-weight: 100;
                text-overflow: ellipsis;
                word-wrap: break-word;
                overflow: hidden;
                padding: 0 .5em;
                margin-top: -1em;
            }
        }
        .post-title {
            position: absolute;
            bottom: 0;
            left: 0;
            max-height: 75px;
            background: rgba(#000, 0.8);
            width: 100%;
            h3 {
                color: $primary-color;
                font-size: 22px;
                text-transform: uppercase;
                padding: .5em 1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 500px;
            }
        }
        &:after {
            position: absolute;
            bottom: 0;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $primary-color;
        }
    }
    .all-news {
        top: 3em;
        position: relative;
        background: rgba(#000, 0.8);
        height: 45px;
        max-width: 100%;
        width: 20%;
        margin: 3em auto 0;
        text-align: center;
        @media screen and (max-width: 991px) {
            width: 50%;
            top: -1em;
        }
        a {
            text-decoration: none;
            h3 {
                color: $primary-color;
                font-size: 22px;
                text-transform: uppercase;
                padding: .5em 1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 500px;
            }
        }
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $primary-color;
        }
    }
}

.supporters {
    background: #000000;
    min-height: 750px;
    position: relative;
    .row {
        flex-direction: row;
    }
    .content {
        h1 {
            color: $primary-color;
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: 10px;
            max-width: 386px;
            margin: 0.5em 0;
            text-transform: uppercase;
            &:before {
                content: '';
                margin-bottom: .75em;
                display: block;
                width: 100%;
                height: 3px;
                background-color: $primary-color;
            }
            @media screen and (max-width: 991px) {
                font-size: 1.5rem;
            }
        }
        margin-top: 2em;
        @media screen and (max-width: 991px) {
                text-align: center;
            }
    }
    .col-flex {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        min-height: 100px;
    }
}