.all-news-page {
    height: 100%;
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 2em;
    background-size: cover;
    @media screen and (max-width: 991px) {
        text-align: center;
        background-size: cover;
    }
    .row {
        flex-direction: row;
    }
    .col-title {
        .content {
            display: block;
            width: 100%;
            margin-top: 7.5em;
            margin-bottom: 3em;
            @media screen and (max-width: 991px) {
                text-align: center;
            }
            .title {
                color: $primary-color;
                font-size: 3.75rem;
                font-weight: 300;
                letter-spacing: 12px;
                margin: 0.5em 0;
                text-transform: uppercase;
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    content: '';
                    width: 25%;
                    height: 3px;
                    background-color: $primary-color;
                    @media screen and (max-width: 991px) {
                        left: 25%;
                        right: 25%;
                        margin: 0 auto;
                        width: 50%;
                    }
                }
            }
        }
    }

    .post-card {
        height: 280px;
        background: rgba($primary-color, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        position: relative;
        margin: 1.5em 0;
        .post-excerpt {
            position: relative;
            p {
                font-size: 18px;
                font-weight: 100;
                text-overflow: ellipsis;
                word-wrap: break-word;
                overflow: hidden;
                padding: 0 .5em;
                margin-top: -1em;
            }
        }
        .post-title {
            position: absolute;
            bottom: 0;
            left: 0;
            max-height: 60px;
            background: rgba($primary-color, 0.3);
            width: 100%;
            h3 {
                color: #fff;
                font-size: 22px;
                text-transform: uppercase;
                padding: .5em 1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 500px;
            }
        }
        &:after {
            position: absolute;
            bottom: 0;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $primary-color;
        }
    }
}