.post-section {
    background-color: black;
    position: relative;
    .post-row {
        margin-top: 10em;
        flex-direction: row;
        @media screen and (max-width: 991px) {
            margin-top: 5em;
        }
        .information-data {
            display: flex;
            flex: 1 1 auto;
            a {
                color: $primary-color;
                text-transform: uppercase;
            }
            .data {
                text-transform: uppercase;
            }
            h3 {
                margin-right: 1em;
                font-size: 18px;
            }

            &:after {
                position: absolute;
                content: '';
                width: 85%;
                height: 3px;
                top: 2em;
                background-color: $primary-color;
            }
        }
        .post-wrapper {
            top: 2em;
            position: relative;
            .post-title {
                h1 {
                    font-weight: 700;
                    font-size: 3rem;
                    text-transform: uppercase;
                }
            }
            .post-content {
                p {
                    font-weight: 300;
                    font-size: 1rem;
                }
            }
        }
        .other-articles-data {
            h3 {
                font-size: 18px;
                color: $primary-color;
            }
            &:after {
                position: absolute;
                content: '';
                width: 85%;
                height: 3px;
                top: 2em;
                background-color: $primary-color;
            }
            padding: 0 15px;
        }
    }
    .post-cards-collection {
        margin-top: 3em;
        .post-card {
            height: 280px;
            background: rgba($primary-color, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1em;
            position: relative;
            margin: 1.5em 0;
            .post-excerpt {
                position: relative;
                p {
                    font-size: 18px;
                    font-weight: 100;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    overflow: hidden;
                    padding: 0 .5em;
                    margin-top: -1em;
                }
            }
            .post-title {
                position: absolute;
                bottom: 0;
                left: 0;
                max-height: 60px;
                background: rgba($primary-color, 0.3);
                width: 100%;
                h3 {
                    color: #fff;
                    font-size: 22px;
                    text-transform: uppercase;
                    padding: .5em 1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 500px;
                }
            }
            &:after {
                position: absolute;
                bottom: 0;
                content: '';
                width: 100%;
                height: 3px;
                background-color: $primary-color;
            }
        }
    }
    .sidebar {
        @media screen and (max-width: 991px) {
            position: relative;
            top: 3em;
            padding-bottom: 3em;
        }
    }
}