.site-footer {
    min-height: 450px;
    background: #000;
    display: flex;
    align-items: center;
    overflow: hidden;
    @media screen and (max-width: 991px) {
                min-height: 770px;
            }
    .row {
        flex-direction: row;
        .col-contacts {
            top: -2.5em;
            @media screen and (max-width: 768px) {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .content {
        h1 {
            color: $primary-color;
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: 12px;
            max-width: 386px;
            margin: 0.5em 0;
            @media screen and (max-width: 768px) {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .contacts {
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contact {
            padding: 1em;
            &:first-child {
                margin-left: -1em;
            }
            h3 {
                font-weight: 700;
                font-size: 24px;
            }
            h5 {
                font-weight: 300;
                font-size: 18px;
            }
            a {
                color: $primary-color;
                text-decoration: underline;
            }
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $primary-color; // margin-bottom: -1em;
            bottom: 0;
        }
    }
    .social-links {
        position: absolute;
        bottom: -3.5em;
        a {
            color: #fff;
            transition: all .2s ease;
            i {
                margin-right: 0.5em;
                font-size: 2rem;
            }
            &:hover {
                color: $primary-color;
            }
        }
        @media screen and (max-width: 768px) {
            margin: 0 auto;
            text-align: center;
            left: 25%;
            right: 25%;
        }
    }
}

.scroll-to-top {
    width: 45px;
    height: 45px;
    background: $primary-color;
    position: fixed;
    z-index: 5;
    right: 1em;
    bottom: 1em;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
        font-size: 1rem;
        color: #000;
    }
}

.contact-form {
    display: flex;
    @media screen and (max-width: 991px) {
        top: 3em;
        position: relative;
    }
    .form-wrapper {
        display: flex;
        flex-direction: column;
        .form-information {
            display: flex;
            flex-direction: row;
            text-align: center;
            span {
                input {
                    max-width: 300px;
                    width: 85%;
                    border: 0;
                    border-radius: 0;
                    background: rgba(#181514, 0.3);
                    height: 30px;
                    outline: none;
                    color: #fff;
                    transition: all .3s ease;
                    &:focus{
                        border: 1px solid $primary-color;
                    }
                    @include placeholder($white);
                }
            }
        }
        .form-message {
            margin-top: -1.5em;
            text-align: center;
            label {
                width: 100%;
            }
            input {
                position: relative;
                top: 1em;
                border: 0;
                border-radius: 0;
                background: rgba(#181514, 0.3);
                color: rgba(#fff, 0.6);
                width: 80px;
                height: 2.5em;
                border-bottom: 3px solid $primary-color;
                outline: none;
                cursor: pointer;
                transition: all .3s ease;
                &:hover{
                    color: rgba(#fff, 1);
                }
            }
            textarea {
                width: 92.5%;
                height: 120px;
                border: 0;
                border-radius: 0;
                background: rgba(#181514, 0.3);
                outline: none;
                resize: none;
                color: #fff;
                transition: all .3s ease;
                @include placeholder($white);
                    &:focus{
                        border: 1px solid $primary-color;
                    }
            }
        }
    }
}