header {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    @media screen and (max-width: 991px) {
       position: absolute;
    }
    .site-branding {
        display: none;
    }
    #site-navigation {
        .menu-primary-menu-homepage-container,
        .custom-menu-class {
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            ul {
                li {
                    margin: 0 2.5em;
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 100;
                        font-size: 20px;
                        transition: all .3s ease;
                        &:hover {
                            color: $primary-color;
                        }
                        &.highlighted {
                            color: $primary-color;
                        }
                        @media screen and (max-width: 1200px) {
                            font-size: 18px
                        }
                    }
                    @media screen and (max-width: 1200px) {
                        margin: 0 1.5em;
                    }
                }
            }
            &.active{
                @media screen and (max-width: 991px) {
                height: 100vh;
                position: absolute;
                background: rgba(0,0,0,0.95);
                top: 0;
                animation: fadeIn .3s ease;
                ul{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    li{
                        margin: .5em 0;
                    }
                }
                @keyframes fadeIn{
                    0%{
                        opacity: 0; 
                    }
                    100%{
                        opacity: 1;
                    }
                }

                }
            }
        }
    }
}

.scrolled {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    height: 50px;
    @media screen and (max-width: 991px) {
        background: rgba(0,0,0,0.8);
    }
}
